# Paths for GESTURESET Tutorial

TRAINING_DATA_PATH: "PUT/YOUR/TRAINING/DATA/PATH/HERE"
SINGLE_INSTANCE_EVALUATION_DATA_PATH: "PUT/YOUR/SINGLE/INSTANCE/EVALUATION/DATA/PATH/HERE"
BATCH_EVALUATION_DATA_PATH: "PUT/YOUR/BATCH/EVALUATION/DATA/PATH/HERE"
EVALUATION_SAVE_PATH: "PUT/YOUR/EVALUATION/SAVE/PATH/HERE"
